*{
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
}
.searchFoodForm{
    padding-top: 70px;
    display: flex;
    justify-content: center;
}

.searchFoodForm input[type="text"]{
    padding: 8px;
    width: 70%;
    border: none;
    background: rgba(128, 128, 128, 0.212);
}

.searchFoodForm input[type="submit"]{
    padding: 8px 20px;
    background: rgb(255, 123, 0);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#foodArea{
    margin-top: 30px;
    min-height: 500px;
    width: 100%;
}

#foodArea .child{
    width: 300px;
    height: 280px;
    margin: 9px 15px;
    background-color: rgba(128, 128, 128, 0.103);
    border-radius: 5px;
    cursor: pointer;
}

#foodArea .child .childsPhoto{
    width: 100%;
    height: 210px;
    overflow: hidden;
}

.childsPhoto img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#ingredients{
    padding: 50px 0;
}

.showPhoto{
    border-radius: 10px;
    overflow: hidden;
}

#showList{
    list-style: square;
}

.showName{
    color: green;
    margin-top: 20px;
    font-weight: 700;
}

.showTitle{
    color: orange;
    font-size: 20px;
}

.alertDiv{
    width: 400px;
    padding: 20px;
    color: red;
    text-align: center;
    background: rgb(8, 2, 2);
    border-radius: 20px;
    position: fixed;
    top: 10px;
    left: 50%;
    margin-left: -200px;
    font-size: 30px;
}